@{
    Layout = "_Layout";
    var user = (string) ViewData["UserN"];
}
@model ponto_digital_final.ViewModels.ComentariosViewModel

    <section id="banner">
        <img src="img/logo/logo.png" alt="Logo Ponto Digital!">
        <h2>Comentários dos usuários do<br> Ponto Digital</h2>
    </section>

    <div id="content">
        <section id="comentarios">
            <h3>Comentários de usuários:</h3>

            @if (@Model.listaDeComentarios.Count() == 0)
            {
                <p>Infelizmente não há nenhum comentário cadastrado, seja o primeiro a comentar!</p>
            }
                
        <div id="comentsUser"> 
            <!-- ABRE O FOREACH COM CADA COMENTARIO NESSE PADRAO-->
            @foreach (var item in @Model.listaDeComentarios)
            {
                <div class="comentario">
                    <p class="nomeEmail">@item.Nome - @item.Email</p>
                    <p>@item.Texto</p>
                    <p class="data">@item.Data.ToShortDateString()</p>
                </div>
                
            }

        </div>
            
        </section>

        <section id="comentar">
            <h3>Comente sobre sua experiência com o Ponto Digital!</h3>
            @if (string.IsNullOrEmpty(user))
            {
            <a  onclick="document.getElementById('id01').style.display='block'"> Você precisa efetuar login para poder comentar!</a>
                
            <form method="POST">
                    <div class="inputs" id="mensagem">
                        <label for="msg">Insira seu comentário:</label> 
                        <br>
                        <textarea disabled name="msg" class="input_msg" rows="6"></textarea>
                    </div>
                    <input type="submit" class="submit" disabled value="Enviar">
            </form>
            }else
            {

            <form action='@Url.Action("Comentar", "Comentarios")' method="POST">
                    <div class="inputs" id="mensagem">
                        <label for="msg">Insira seu comentário:</label> 
                        <br>
                        <textarea  name="msg" class="input_msg" rows="6"></textarea>
                    </div>
                    <input type="submit" class="submit" value="Enviar">
            </form>
                
            }


        </section>
    </div>